# Dependencies
node_modules/
.pnpm-store/

# Next.js build output
.next/
out/
build/

# Environment variables (CRITICAL: DO NOT UPLOAD)
.env
.env.local
.env.production
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Foundry / Solidity
foundry/out/
foundry/cache/

# OS files
.DS_Store
Thumbs.db

# Friend's shared documentation & setup files
dokum/

# IDE Settings
.vscode/

# Besu binaries, networks, and data
besu-binary/
besu-network/
jdk-17.0.11+9/

docker/node-keys/
docker/.env
.env.laptop*
node-identities/

# Local Node configs
env.laptop*
*.key
